<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
<<<<<<< HEAD
        <h2>Bet You Can't Bowl A Strike Every Time</h2>
        <p>97 Bowling Alley Lane, Boulder CO </p>
=======
        <h2>Best You Can't Bowl A Strike Every Time</h2>
        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
>>>>>>> 5f2c4076abfe33ba31c54eb7285531a0a5a87f29
    </body>
</html>
